@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'schabo';
  src: url('fonts/schabo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    height: -webkit-fill-available;
    font-family: 'schabo';
  }

  body {
    height: -webkit-fill-available;
    font-family: 'schabo';
  }

  #root {
    height: -webkit-fill-available;
    font-family: 'schabo';
  }
}