@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Schabo';
  src: url('/fonts/SCHABO.woff2') format('woff2'),
    url('/fonts/SCHABO.woff') format('woff'),
    url('/fonts/SCHABO.ttf') format('truetype'),
    url('/fonts/SCHABO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    height: -webkit-fill-available;
    font-family: 'Schabo';
  }

  body {
    height: -webkit-fill-available;
    font-family: 'Schabo';
  }

  #root {
    height: -webkit-fill-available;
    font-family: 'Schabo';
  }
}

.button-cancer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}